<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @servico.titulo %>
</p>

<p>
  <strong>Desc curta:</strong>
  <%= @servico.desc_curta %>
</p>

<p>
  <strong>Desc longa:</strong>
  <%= @servico.desc_longa %>
</p>

<%= link_to 'Edit', edit_servico_path(@servico) %> |
<%= link_to 'Back', servicos_path %>
